.catalog {
  background-color: $lightest-grey;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px 45px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 80px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 100px 40px 120px;
  }
}

.catalog__title {
  margin-bottom: 4px;
  text-align: center;
}

.catalog__subtitle {
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__holder {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog__cards-holder {
  @media (min-width: $desktop-width) {
    padding-left: 7px;
  }
}
