.contacts {
  padding: 20px 0;

  @media (min-width: $desktop-width) {
    padding: 10px 0;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: $base-primary;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.contacts__link {
  display: block;
  padding-left: 19px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;

  &--address {
    background-image: url("../img/icons/address.svg");
    background-repeat: no-repeat;
    background-position: 0 4px;

    @media (min-width: $tablet-width) {
      background-position: 2px 2px;
    }
  }

  &--phone {
    background-image: url("../img/icons/phone.svg");
    background-repeat: no-repeat;
    background-position: 0 4px;

    @media (min-width: $tablet-width) {
      background-position: 2px 2px;
    }
  }

  &:hover,
  &:focus-visible {
    color: $primary-lighter;
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}
