.main-nav__wrapper {
  display: flex;
  align-items: center;
}

.main-nav__toggle {
  width: 26px;
  height: 22px;
  padding: 5px;
  background-image: url("../img/icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $base-white;
  border: none;
}
