.product-card {
  padding: 40px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }
}

.product-card__link {
  color: inherit;
  text-decoration: none;
}

.product-card__image {
  display: block;
  width: 130px;
  height: 188px;
  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.product-card__title {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.product-card__description {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}

.product-card__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.product-card__button {
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;
  background-image: url("../img/icons/basket-plus.svg");
  background-repeat: no-repeat;
  background-position: 20px 10px;
}
