.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 12px;
  }

  &--footer {
    @media (min-width: $desktop-width) {
      display: block;
      margin-right: 31px;
    }
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    justify-content: left;
  }
}

.social__item {
  margin-right: 29px;

  @media (min-width: $desktop-width) {
    margin-right: 19px;
  }

  &:last-child {
    margin-right: 5px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  fill: $base-grey;

  @media (min-width: $desktop-width) {
    padding: 10px;
  }

  &:hover,
  &:focus-visible {
    background-color: $base-secondary;
    outline: none;
    fill: $base-primary;
  }

  &:active {
    background-color: $primary-opacity;
    fill: $base-primary;
  }
}
